/* AddCourse.css */

/* Contenedor principal */
.course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Título del formulario */
.course-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos del formulario */
.course-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.course-form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.course-form .course-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #5bb114;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.course-form .course-button:hover {
    background-color: #3d871e;
}

/* Estilos del botón para volver al inicio */
.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #0056b3;
}