/* Course.css */

.course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.course-content h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
}

.course-content img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

.info-button {
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-button:hover {
    background-color: #45a049;
}

.createcourse-button {
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #22ffda;
    color: #fff;
    transition: background-color 0.3s ease;
}

.createcourse-button:hover {
    background-color: #18a991;
}

.container-id {
    display: inline-block;     /* o block, dependiendo del contexto */
    max-width: 150px;          /* ajusta el ancho máximo según necesites */
    white-space: nowrap;       /* evita que el texto se rompa en varias líneas */
    overflow: hidden;          /* oculta el contenido que se desborda */
    text-overflow: ellipsis;   /* muestra "..." al final del texto truncado */
  }
  