.course-card {
    width: 45%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ec7e7e;
    position: relative;  /* Agregado para permitir posicionamiento absoluto dentro de la tarjeta */
}

.course-content {
    text-align: left;
    padding: 10px;
}

.course-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.course-content p {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 10px;
}

.info-button {
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1a75ff;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    position: absolute;  /* Coloca el botón en una posición absoluta dentro de .course-card */
    bottom: 15px;  /* Aleja el botón 15px de la parte inferior de la tarjeta */
    right: 15px;  /* Aleja el botón 15px de la parte derecha de la tarjeta */
}

.info-button:hover {
    background-color: #0056b3;
}

img {
    margin-top: 5px;
    margin-right: 10px;
    width: 80px;           /* Ajusta el tamaño según sea necesario */
    height: 80px;          /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;    /* Hace la imagen circular */
    border: 2px solid #ccc; /* Agrega un borde para simular el marco */
    overflow: hidden;      /* Asegura que los bordes de la imagen estén contenidos */
    object-fit: cover;     /* Ajusta la imagen para cubrir completamente el marco */
    float: left;
}
